<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension point="org.blueberry.ui.views">

    <view id="upenn.cbica.captk.views.example4"
      name="Example 4"
      category="Workshop"
      icon="resources/icon4.svg"
      class="QmitkCaPTkExample4View" />

  </extension>
  
</plugin>
