<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension point="org.blueberry.ui.views">

    <view id="upenn.cbica.captk.views.example3"
      name="Example 3"
      category="Workshop"
      icon="resources/icon3.svg"
      class="QmitkCaPTkExample3View" />

  </extension>
  
</plugin>
