<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension point="org.blueberry.ui.views">

    <view id="upenn.cbica.captk.views.example5"
      name="Example 5"
      category="Workshop"
      icon="resources/icon5.svg"
      class="QmitkCaPTkExample5View" />

  </extension>
  
</plugin>
